* { /* 全称セレクタ */
    font-size: 12px; /* 文書全体のフォントサイズを12ピクセルにする */
}

h1 { /* タイプセレクタ */
    font-size: 22px; /* h1要素のフォントサイズを22ピクセルにする */
}

#test1 { /* IDセレクタ */
    color: green; /* IDがtest1の要素を緑色にする */
}

.test2 { /* IDセレクタ */
    color: purple; /* IDがtest2の要素を紫色にする */
}

.test3 { /* IDセレクタ */
    color: red; /* IDがtest3の要素を赤色にする */
}
